@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding:0;
    margin:0;
}
:root{
    --primary-color: #3A3A3A;
    --secondary-color:#E02C6D;
    --third-color:#3A3A3A;
    --fourth-color: #18191F;
}
body{
    font-family: 'Poppins';
}
/* HEADER */
.headers{
    padding:67px 120px;
}
.headers .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.headers .navbar .brand{
    color :var(--primary-color);
    font-size: 24px;
    font-weight: 700px;
   
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 34px;
}
.nav-list .list-item{
    margin: 0;
    padding:0;
}
.list-item .nav-link{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}
/* head content */
.head-content{
    display: flex;
    gap: 133px;
    margin-bottom: 100px;

}
.content{
    color:var(--primary-color);
}
.content .content-title{
    font-size: 52px;
    font-weight: 700;
    margin-top: 80px;
}
.content .content-decription{
    font-weight: 600;
    margin-bottom:16.1px;
    width:505px;
}
.photo-camera{
    width: 442;
    padding: 30px 33px 31px 2px;
}
/*  influencers */
.influencer-bar{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-inline:165px;
    padding: 30px 60px;
}

/* button */
.btn{
    padding:10px 24px;
    border-radius: 41px;
    width: 196px;
    height: 44px;
} 
.btn-primary{
    font-weight: 700;
    color:#ffffff;
    background-color: var(--secondary-color);
}
/* MAIN */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 165px;

    
}
/* product section */
.products-section{
    padding: 10px;
}
.section-title{
    color: var(--third-color);
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.products{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.product{
    width: 329px;
   
    padding: 17px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product img{
    width: 100%;
}
.product-name{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: var(--fourth-color);
}
.price{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--fourth-color);
}
.ratings{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color:#5E6366;
}
.product-description{
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}
.see-more{
    margin-top: 50px;
   
}
.see-more .pagination{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
}